{% extends "index.html" %}
{% load static %}

{% block title %}Тестовая главная страница{% endblock %}

{% block body %}
  <div class="flex justify-center pt-24 pb-12 px-2 sm:px-0">
  </div>

  <p class="text-center text-lg mt-6">
   🐳 Тест отображения
    <strong>
      <a class="border-b border-gray-900 mb-1" href="https://diveintodocker.com?ref=docker-django-example">https://diveintodocker.com</a>
    </strong>
    <li>
        <a href="csv-upload" class="addlink">
          Импорт
        </a>
    </li>
  </p>
{% endblock %}